@use 'sass:math';

@mixin articles-root {
    @include title-offset;

    display: grid;
    grid-gap: 25px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    @include breakpoint(sm) {
        grid-gap: 50px;
    }

    @include breakpoint(md) {
        grid-gap: 100px 50px;
    }

    @include breakpoint(lg) {
        grid-gap: 100px 50px;
    }

    &--dev {
        @include breakpoint(sm) {
            grid-gap: 50px;
        }
    }
}

@mixin articles-item {
    grid-area: auto / span 2;

    @include breakpoint(lg) {
        grid-area: auto / span 1;
    }

    @at-root .articles--dev & {
        grid-area: auto / span 2;
    }
}

@mixin articles {
    .articles {
        @include articles-root;

        &__item {
            @include articles-item;
        }
    }
}

@include articles;
