@use 'sass:math';

@mixin article-root {
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
        display: block;
    }
}

@mixin article-customize {

    padding-left: var(--spacing);
    z-index: 1;
    padding-bottom: 25px;

    @include breakpoint(md) {
        position: absolute;
        top: var(--spacing);
        padding-bottom: 0;
    }

    @include breakpoint(xl) {
        padding-left: 493.75px;
    }

    @at-root .article:has(.article__image) & {
        top: calc(62.5vw + var(--spacing) * 2);

        @include breakpoint(xs) {
            top: calc(50vh + var(--spacing) * 2);
        }

        @include breakpoint(md) {
            translate: 0 -100%;
            top: max(425px, calc(30vw - 87.5px));
        }

        @include breakpoint(xl) {
            padding-left: 50px;
        }
    }
}

@mixin article-header {
    flex-direction: column;
    justify-content: space-between;
    padding: 125px var(--spacing) 0;
    position: relative;
    display: contents;

    @include breakpoint(md) {
        display: flex;
    }

    @at-root .article:has(.article__image) & {
        padding-top: calc(62.5vw + 50px + var(--spacing) * 3);

        @include breakpoint(xs) {
            padding-top: calc(50vh + 50px + var(--spacing) * 3);
        }

        @include breakpoint(md) {
            padding-top: max(450px, calc(30vw - 62.5px));
        }
    }
}

@mixin article-tags {
    display: flex;
    gap: 6.25px 12.5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    max-width: 812.5px;
    padding-top: 25px;
    padding-left: var(--spacing);

    @include breakpoint(md) {
        padding-left: 0;
        padding-top: 37.5px;
    }

    @include breakpoint(xl) {
        padding-left: 443.75px;
        width: 1280.25px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        background-color: var(--c-gray-darkest);
        width: calc(100% - var(--spacing) * 2);

        @include breakpoint(xs) {
            max-width: 768px;
            width: calc(100% - var(--spacing) * 2);
        }

        @include breakpoint(md) {
            width: calc(50vw - 112.5px);
        }

        @include breakpoint(xl) {
            width: calc(50vw - 75px);
        }
    }

    @at-root .article:has(.article__image) & {
        @include breakpoint(xl) {
            padding-left: 0;
        }
    }
}

@mixin article-tag {
    @include text;

    color: var(--c-main);
}

@mixin article-title {
    @include h1;

    scroll-margin-top: 50px;
    color: var(--c-black);
    border-bottom-width: 0;
    position: relative;
    padding: 12.5px var(--spacing) 12.5px;
    width: 100%;
    text-wrap: balance;
    box-sizing: border-box;

    @include breakpoint(xs) {
        font-size: 50px;
        line-height: 1.25;
        max-width: calc(100vw - 100px);
    }

    @include breakpoint(sm) {
        font-size: 62px;
        line-height: 71px;
    }

    @include breakpoint(md) {
        padding: 12.5px 0;
        box-sizing: content-box;
    }

    @include breakpoint(lg) {
        font-size: 73px;
        line-height: 84px;
    }

    @include breakpoint(xl) {
        padding-left: 443.75px;
        width: 1280.25px;
    }

    @at-root .article:has(.article__image) & {
        @include breakpoint(xl) {
            padding-left: 0;
        }
    }
}

@mixin article-date {
    @include text;

    color: $color-gray;
    font-style: italic;
    padding: 0 0 var(--spacing) var(--spacing);

    @include breakpoint(md) {
        padding-left: 0;
    }

    @include breakpoint(xl) {
        padding-left: 443.75px;
        width: 1280.25px;
    }

    @at-root .article:has(.article__image) & {
        @include breakpoint(xl) {
            padding-left: 0;
        }
    }
}

@mixin article-meta {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--c-black);

    &:has(+ .article__content-container) {
        padding-bottom: 0;
    }
}

@mixin article-image {
    height: 62.5vw;
    margin-left: var(--spacing);
    width: calc(100% - var(--spacing) * 2);
    order: -1;
    padding-top: var(--spacing);
    top: 0;
    right: 0;

    @include breakpoint(xs) {
        height: 56.25vw;
    }

    @include breakpoint(md) {
        position: absolute;
        height: 30vw;
        min-height: 500px;
        max-height: 100%;
        min-width: calc(50vw - 62.5px);
        width: calc(100vw - 1037.5px);
        padding-top: 0;
    }

    @include breakpoint(xl) {
        min-width: calc(50vw - 125px);
    }
}

@mixin article-content-container {
    @include container;

    position: static;

    &:before {
        @include breakpoint(xl) {
            content: '';
            display: block;
        }
    }
}

@mixin article-sidebar {
    flex-shrink: 0;
    position: relative;
    display: none;
    border-left: 1px solid var(--c-gray-darkest);
    grid-area: auto / span 1;
    height: 100%;

    @include breakpoint(md) {
        display: block;
    }
}

@mixin article-sidebar-content {
    position: sticky;
    top: 50px;
}

@mixin article-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    grid-area: auto / span 4;
    max-width: 768px;

    @include breakpoint(sm) {
        grid-area: auto / span 3;
        gap: 50px;
    }

    @include breakpoint(md) {
        max-width: none;
        grid-area: auto / span 2;
        padding-bottom: 50px;
    }
}

@mixin article-footer {
    @include line(above);

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;

    @include breakpoint(xs) {
        margin-top: 50px;
    }

    @include breakpoint(md) {
        padding-bottom: 0;
    }

    &:has(> .article__footer-link--next:only-child) {
        justify-content: flex-end;
    }
}

@mixin article {
    .article {
        @include article-root;

        &__customize {
            @include article-customize;
        }

        &__header {
            @include article-header;
        }

        &__tags {
            @include article-tags;
        }

        &__tag {
            @include article-tag;
        }

        &__title {
            @include article-title;
        }

        &__date {
            @include article-date;
        }

        &__meta {
            @include article-meta;
        }

        &__image {
            @include article-image;
        }

        &__content-container {
            @include article-content-container;
        }

        &__sidebar {
            @include article-sidebar;
        }

        &__sidebar-content {
            @include article-sidebar-content;
        }

        &__content {
            @include article-content;
        }

        &__footer {
            @include article-footer;
        }
    }
}

@include article;
