@mixin blog-root {
    @include container;
}

@mixin blog-header {
    @include header;

    @include breakpoint(sm) {
        height: calc(100vh - var(--spacing) * 2);
    }
}

@mixin blog-title {
    @include h1;
}

@mixin blog-meta {
    @include line;

    display: flex;
    justify-content: center;
    padding-top: 25px;
    border-width: 0;

    @include breakpoint(sm) {
        border-bottom-width: 1px;
    }
}

@mixin blog-content {
    grid-area: auto / span 2;
    padding-bottom: 50px;

    @include breakpoint(lg) {
        grid-area: auto / span 3;
    }
}

@mixin blog {
    .blog {
        @include blog-root;

        &__header {
            @include blog-header;
        }

        &__title {
            @include blog-title;
        }

        &__meta {
            @include blog-meta;
        }

        &__content {
            @include blog-content;
        }
    }
}

@include blog;
