@use '../util/vars' as *;

@mixin body-root {
    font-family: 'Mulish', sans-serif;
    color: var(--c-black);
    background-color: var(--c-gray-lighter);
    container: meta-container teaser-container / inline-size;

    &--fixed {
        overflow: hidden;
    }
}

@mixin body {
    .body {
        @include body-root;
    }
}

@include body;
