@use '../util/vars' as *;

@mixin body-root {
    --spacing: 10px;

    font-family: 'Helvetica', sans-serif;
    color: var(--c-black);
    container: meta-container teaser-container / inline-size;

    @include breakpoint(xs) {
        --spacing: 25px;
    }

    @include breakpoint(md) {
        --spacing: 50px;
    }

    &--fixed {
        overflow: hidden;
    }
}

@mixin body {
    .body {
        @include body-root;
    }
}

@include body;
