@mixin brand-root {
    background-color: var(--c-white);
    mix-blend-mode: exclusion;
    text-transform: uppercase;
    position: fixed;
    top: 10px;
    left: 21.5px;
    align-items: center;
    font-size: 32px;
    letter-spacing: 2px;
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--c-black);
    justify-content: center;
}

@mixin brand-logo {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@mixin brand-letter {
    display: flex;
    align-items: center;

    &:first-child {
        translate: 0 4.5px;
    }

    &:last-child {
        translate: 0 -2.5px;
    }
}

@mixin brand {
    .brand {
        @include brand-root;

        &__logo {
            @include brand-logo;
        }

        &__letter {
            @include brand-letter;
        }
    }
}

@include brand;
