@mixin contact-button-root {
    display: flex;
    align-items: center;
    font-size: 18px;
}

@mixin contact-button-icon {
    width: 35px;
    margin-right: 12.5px;
    color: var(--c-gray-darkest);
}

@mixin contact-button-link {
    color: var(--c-gray-darkest);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        z-index: -1;
        background-color: var(--c-project);
        transition: width .25s $transition;

        @at-root .contact-button:hover & {
            width: 100%;
            transition: width .5s $transition;
        }

        @at-root .html--dark & {
            background-color: var(--c-project-lighter);
        }
    }
}

@mixin contact-button-text {
    color: var(--c-gray-darkest);
}

@mixin contact-button {
    .contact-button {
        @include contact-button-root;

        &__icon {
            @include contact-button-icon;
        }

        &__link {
            @include contact-button-link;
        }

        &__text {
            @include contact-button-text;
        }
    }
}

@include contact-button;
