@use 'sass:map';

@mixin contact-root {
    position: relative;
    z-index: 3;
    background-color: #111111;
    box-sizing: border-box;
    padding: 50px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    max-width: map.get($breakpoints, uw);
    margin: 0 auto;

    @include breakpoint(xs) {
        padding: 50px;
        justify-content: space-between;
    }
}

@mixin contact-title {
    font-size: 50px;
    width: 100%;
    text-align: center;

    &:after {
        content: '.';
        color: var(--c-main);
        display: inline-block;
        transform: translate(4px, 2px);
    }

    @include breakpoint(xs) {
        width: auto;
    }
}

@mixin contact-list {
    list-style: none;
    display: flex;
}

@mixin contact-link {
    color: var(--c-black);
    width: 100px;
    display: flex;
    justify-content: center;
    transition: opacity .25s, transform .25s;

    &:hover {
        opacity: .5;
        transform: scale(1.1);
    }

    > svg {
        width: 50px;
        height: 50px;
    }
}

@mixin contact {
    .contact {
        @include contact-root;

        &__title {
            @include contact-title;
        }

        &__list {
            @include contact-list;
        }

        &__link {
            @include contact-link;
        }
    }
}

@include contact;
