@mixin content-root {

}

@mixin content-title {
    scroll-margin-top: 50px;
    color: var(--c-black);
    position: relative;
    transition: padding-left .5s $transition;

    &--level-2 {
        @include h2(above);

        margin-top: var(--spacing);
    }

    &--level-3 {
        @include h3;

        @include breakpoint(sm) {
            margin-bottom: -30px;
        }
    }

    &--level-4 {
        @include h4;

        @include breakpoint(sm) {
            margin-bottom: -30px;
        }
    }

    &:hover {
        padding-left: 37.5px;

        @include breakpoint(xl) {
            padding-left: 0;
        }
    }
}

@mixin content-hash {
    width: 25px;
    position: absolute;
    right: 100%;
    top: 50%;
    translate: 0 -50%;
    padding-right: 12.5px;
    color: var(--c-gray);
    transition: opacity .25s, color .25s, translate .5s $transition;
    height: 1em;
    opacity: 0;
    display: flex;
    align-items: center;

    @include breakpoint(xl) {
        padding-right: 25px;
    }

    @at-root .content__title:hover & {
        opacity: 1;
        translate: 37.5px -50%;
        transition: opacity .15s .35s;

        @include breakpoint(xl) {
            translate: 0 -50%;
            transition: opacity .25s;
        }
    }

    &:hover {
        color: var(--c-main);
    }

    @at-root .content__title--level-2 & {
        padding-top: 25px;
    }
}

@mixin content-code {
    @include code;
}

@mixin content-image-container {
    position: relative;
    overflow: hidden;
}

@mixin content-image {
    cursor: pointer;
    transition: scale .25s;

    &--contain {
        aspect-ratio: unset;
    }

    &:hover {
        scale: 1.01;
    }
}

@mixin content-caption {
    @include text;

    color: var(--c-gray);
    text-align: center;
    padding-top: 12px;
}

@mixin content-text {
    @include text;
    @include wysiwyg;

    font-weight: 300;
}

@mixin content {
    .content {
        @include content-root;

        &__title {
            @include content-title;
        }

        &__hash {
            @include content-hash;
        }

        &__code {
            @include content-code;
        }

        &__image-container {
            @include content-image-container;
        }

        &__image {
            @include content-image;
        }

        &__caption {
            @include content-caption;
        }

        &__text {
            @include content-text;
        }
    }
}

@include content;
