@mixin drawer-root {
    position: fixed;
    background: var(--c-gray-lightest);
    box-sizing: border-box;
    container: teaser-container / inline-size;
    z-index: 5;
    max-height: calc(100svh - 20px);
    width: 100%;
    top: 0;
    left: 0;
    translate: 0 100%;
    scrollbar-width: none;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    opacity: 0;

    @include breakpoint(xs) {
        transition: translate .25s;
        overflow: auto;
        z-index: 2;
        inset: 10px 0 auto auto;
        width: 450px;
        translate: 100%;
        border-radius: 0;
    }

    &--transportation {
        max-height: none;

        @include breakpoint(xs) {
            width: 600px;
        }
    }

    &--animated {
        transition: translate .25s;
    }

    &--visible {
        opacity: 1;
    }

    &--active {
        translate: 0;

        @include breakpoint(xs) {
            translate: -10px;
        }
    }

    &--big {
        overflow: auto;
        height: calc(100vh - 100px);
    }
}

@mixin drawer-header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--c-gray-lightest);
    padding: 40px 30px 20px;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 50%;
        translate: -50%;
        height: 4px;
        background-color: var(--c-gray-light);
        border-radius: 2px;
        width: 100px;

        @include breakpoint(xs) {
            display: none;
        }
    }
}

@mixin drawer-close {
    position: absolute;
    right: 40px;
    top: 42px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: var(--c-black);
}

@mixin drawer-title {
    @include h3;

    color: var(--c-black);
    padding-right: 80px;
    padding-bottom: 4px;
}

@mixin drawer-subtitle {
    font-size: 16px;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding-bottom: 12.5px;
    color: var(--c-gray);
}

@mixin drawer-content {
    padding: 20px 30px 40px;
}

@mixin drawer-tagline {
    @include tagline;
}

@mixin drawer-stories {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@mixin drawer-footer {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

@mixin drawer-fact {
    display: flex;
    flex-direction: column;
}

@mixin drawer-text {
    @include text;

    white-space: nowrap;
}

@mixin drawer {
    .drawer {
        @include drawer-root;

        &__header {
            @include drawer-header;
        }

        &__close {
            @include drawer-close;
        }

        &__title {
            @include drawer-title;
        }

        &__subtitle {
            @include drawer-subtitle;
        }

        &__content {
            @include drawer-content;
        }

        &__tagline {
            @include drawer-tagline;
        }

        &__stories {
            @include drawer-stories;
        }

        &__footer {
            @include drawer-footer;
        }

        &__fact {
            @include drawer-fact;
        }

        &__text {
            @include drawer-text;
        }
    }
}

@include drawer;
