@mixin html-root {
    background-color: var(--c-gray-lightest);
    transition: background-color .25s;

    --c-white: #{$color-white};
    --c-gray-lightest: #{$color-gray-lightest};
    --c-gray-lighter: #{$color-gray-lighter};
    --c-gray-light: #{$color-gray-light};
    --c-gray: #656565;
    --c-gray-dark: #{$color-gray-dark};
    --c-gray-darker: #{$color-gray-darker};
    --c-gray-darkest: #{$color-gray-darkest};
    --c-black: #{$color-black};

    --c-main: #{$color-main};
    --c-main-light: #{$color-main-light};
    --c-main-dark: #{$color-main-dark};

    &--dark {
        --c-white: #{$color-black};
        --c-gray-lightest: #{$color-gray-darkest};
        --c-gray-lighter: #{$color-gray-darker};
        --c-gray-light: #{$color-gray-dark};
        --c-gray: #{$color-gray};
        --c-gray-dark: #{$color-gray-light};
        --c-gray-darker: #{$color-gray-lighter};
        --c-gray-darkest: #{$color-gray-lightest};
        --c-black: #{$color-white};
    }

    &:has(.top-nav__button--dark:hover) {
        background-color: var(--c-gray-lighter);
    }

    &:has(.body--fixed) {
        overflow: hidden;
    }

    &:has(.article) {
        scrollbar-gutter: stable;
    }
}

@mixin html {
    .html {
        @include html-root;
    }
}

@include html;
