@mixin image-root {
    position: relative;
    width: 100%;
    height: 100%;

    &--invert {
        @scope (.html--dark) {
            filter: invert(1);
        }

        @scope (.popup) {
            filter: invert(1);
        }
    }
}

@mixin image-image {
    object-fit: cover;

    @scope (.popup__image) {
        object-fit: contain;
    }

    @scope (.home__image) {
        object-position: 50% 15%;
    }
}

@mixin image {
    .image {
        @include image-root;

        &__image {
            @include image-image;
        }
    }
}

@include image;
