@mixin location-root {
    background-color: var(--c-gray-lightest);
    padding-right: 20px;
    container: location;
    container-type: normal;
    max-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media screen and (min-width: 500px) {
        max-width: 35%;
    }

    @include breakpoint(xs) {
        padding-right: 40px;
        max-width: 45%;
    }

    &:last-child {
        @scope (.journey) {
            position: relative;
            padding-right: 0;
            padding-left: 20px;

            @include breakpoint(xs) {
                padding-left: 40px;
            }
        }
    }

    &::before,
    &::after {
        display: none;

        @media screen and (min-width: 500px) {
            display: block;
        }

        @scope (.journey) {
            content: '';
            position: absolute;
        }
    }

    &::before {
        @scope (.journey) {
            width: 100vw;
            height: 1px;
            background-color: var(--c-black);
            right: calc(100% + 5px);
            top: 50%;
            z-index: -1;
        }
    }

    &::after {
        @scope (.journey) {
            border-width: 5px 0 5px 10px;
            border-style: solid;
            border-color: transparent transparent transparent var(--c-black);
            top: 50%;
            right: 100%;
            translate: 0 -50%;
        }
    }
}

@mixin location-title {
    @include tagline;
}

@mixin location-code {
    font-size: 45px;
    font-weight: 900;
    color: var(--c-main);
    letter-spacing: .05em;

    @include breakpoint(xs) {
        font-size: 60px;
    }
}

@mixin location-name {
    @include h4;

    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-wrap: balance;

    @scope (.location:has(.location__code + .location__name)) {
        @include text;

        letter-spacing: .05em;
    }
}

@mixin location-date {
    @include text;

    margin-top: auto;
}

@mixin location-time {
    @include text;
}

@mixin location {
    .location {
        @include location-root;

        &__title {
            @include location-title;
        }

        &__name {
            @include location-name;
        }

        &__code {
            @include location-code;
        }

        &__date {
            @include location-date;
        }

        &__time {
            @include location-time;
        }
    }
}

@include location;
