@use 'sass:map';

@mixin main-root {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: clip;
    box-sizing: border-box;

    @include breakpoint(xs) {
        padding-left: $nav-width;
    }
}

@mixin main-transition {
    width: 100%;
    bottom: 0;
    position: fixed;
    background: $color-main;
    z-index: 100;
    display: none;

    &:nth-of-type(2) {
        display: block;
        background: var(--c-gray-lightest);
    }
}

@mixin main {
    .main {
        @include main-root;

        &__transition {
            @include main-transition;
        }
    }
}

@include main;
