@mixin main-root {
    background-color: $color-white;
    position: relative;
    z-index: 1;
    max-width: $breakpoint-ultrawide;
    margin: 0 auto;
    overflow: hidden;
}

@mixin main {
    .main {
        @include main-root;
    }
}

@include main;
