@keyframes pulse-opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .25;
    }
}

@mixin map-root {
    width: 100%;
    position: relative;
    height: 100svh;

    @include breakpoint(xs) {
        margin-top: 0;
    }
}

@mixin map-marker {
    width: 20px;
    height: 20px;

    &:hover::before {
        scale: 2.5;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--c-marker);
        box-shadow: inset 0 0 0 1px $color-white;
        transition: scale .25s;

        @scope (.html--dark) {
            box-shadow: inset 0 0 0 1px $color-gray-light;
        }
    }

    &--active-year {
        animation: pulse-opacity 1s ease-in-out infinite;
    }

    &--active::before {
        background-color: #FF0000;
        scale: 2.5;

        @scope (.html--dark) {
            background-color: #FF0000;
        }
    }
}

@mixin map-tooltip {
    pointer-events: none;
    margin-top: -5px;

    &--force {
        @media screen and (pointer:coarse) {
            display: block;
        }
    }
}

@mixin map {
    .map {
        @include map-root;

        &__marker {
            @include map-marker;
        }

        &__tooltip {
            @include map-tooltip;
        }
    }
}

@include map;
