@use 'sass:map';

@mixin meta-root {
    @include text-small;

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    @container meta-container (min-width: #{map.get($breakpoints, xs)}) {
        width: auto;
        flex-direction: row;
    }

    @container meta-container (min-width: #{map.get($breakpoints, md)}) {
        gap: 16px;
    }

    @scope (.teaser__meta) {
        flex-direction: column-reverse;

        @container meta-container (min-width: #{map.get($breakpoints, xs)}) {
            flex-direction: row;
        }
    }

    @scope (.article__meta, .blog__meta) {
        width: 100%;

        @include breakpoint(sm) {
            flex-direction: column;
        }
    }
}

@mixin meta-item {
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
}

@mixin meta-icon {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    flex-shrink: 0;

    @container meta-container (min-width: #{map.get($breakpoints, sm)}) {
        display: none;
    }

    @container meta-container (min-width: #{map.get($breakpoints, md)}) {
        display: block;
    }
}

@mixin meta-separator {
    display: none;

    @container meta-container (min-width: #{map.get($breakpoints, xs)}) {
        display: block;
    }

    &::before {
        content: '';
        width: 1px;
        height: 18px;
        margin-top: 3.5px;
        display: block;
        background-color: var(--c-gray-darkest);
    }

    @scope (.article__meta, .blog__meta) {
        @include breakpoint(sm) {
            display: none;
        }
    }
}

@mixin meta {
    .meta {
        @include meta-root;

        &__item {
            @include meta-item;
        }

        &__icon {
            @include meta-icon;
        }

        &__separator {
            @include meta-separator;
        }
    }
}

@include meta;
