@mixin nav-root {
    position: fixed;
    height: 100%;
    z-index: 6;
    width: 100%;
    pointer-events: none;
    border-right: 1px solid var(--c-gray-darkest);

    @include breakpoint(xs) {
        pointer-events: all;
        width: $nav-width;
    }
}

@mixin nav-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--c-black);
    bottom: 10px;
    left: 50%;
    translate: -50%;
    border: 1px solid color-mix(in srgb, $color-gray 25%, transparent);
    pointer-events: all;
    color: var(--c-white);
    transition: translate .25s;

    @include breakpoint(xs) {
        display: none;
    }

    @scope (.nav:has(+ .main .popup--active)) {
        translate: -50% calc(100% + 10px);
    }

    &--hidden {
        translate: -50% calc(100% + 10px);
    }
}

@mixin nav-toggle-icon {
    display: block;
    background-color: var(--c-gray-lightest);
    height: 2px;
    width: calc(100% - 10px);
    margin-left: 5px;
    transition: background-color .25s;

    @scope (.nav--active) {
        background-color: transparent;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background-color: var(--c-gray-lightest);
        width: calc(100% - 10px);
        transition: rotate .25s, top .25s;

        @scope (.nav--active) {
            transform-origin: center;
            top: calc(50% - 2px);
        }
    }

    &::before {
        top: 9px;

        @scope (.nav--active) {
            rotate: 45deg;
        }
    }

    &::after {
        top: calc(100% - 11px);

        @scope (.nav--active) {
            rotate: -45deg;
        }
    }
}

@mixin nav-container {
    flex-direction: column;
    width: 100%;
    height: 100lvh;
    display: none;
    padding-bottom: 70px;
    box-sizing: border-box;
    pointer-events: all;
    background-color: var(--c-gray-lightest);
    transition: background-color .25s;

    @include breakpoint(xs) {
        display: flex;
        height: 100svh;
        width: 100%;
        padding-bottom: 0;
    }

    @scope (.body:has(.top-nav__button--dark:hover)) {
        background-color: var(--c-gray-lighter);
    }

    @scope (.nav--active) {
        display: flex;
    }
}

@mixin nav-logo {
    color: var(--c-gray-darkest);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .25s;
    height: 70px;
    border-bottom: 1px solid color-mix(in srgb, $color-gray 25%, transparent);

    @include breakpoint(xs) {
        border-bottom-width: 0;
    }

    &:hover {
        background-color: var(--c-main);
        color: $color-white;
    }
}

@mixin nav-lists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    box-sizing: border-box;

    @include breakpoint(xs) {
        justify-content: space-between;
    }
}

@mixin nav-list {
    display: contents;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include breakpoint(xs) {
        display: flex;
    }

    &--socials {
        display: flex;
        flex-direction: row;
        order: 1;
        border-bottom: 1px solid color-mix(in srgb, $color-gray 25%, transparent);

        @include breakpoint(xs) {
            flex-direction: column;
            border-width: 0;
        }
    }
}

@mixin nav-item {
    width: 100%;
    position: relative;
    z-index: 1;

    &:first-of-type {
        order: 0;
    }

    &:not(:first-of-type) {
        order: 2;
    }
}

@mixin nav-link {
    color: var(--c-gray-darkest);
    display: flex;
    place-content: center flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    padding: 20px 25px;
    border-bottom: 1px solid color-mix(in srgb, $color-gray 25%, transparent);

    @include breakpoint(xs) {
        padding: 0 25px;
        border-bottom-width: 0;
    }

    @include breakpoint(xs) {
        writing-mode: sideways-lr;
        padding: 15px 0;
        justify-content: center;
    }

    @scope (.nav__list--socials) {
        padding: 20px 0;
        border-bottom-width: 0;
        justify-content: center;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 5px;
        background: color-mix(in srgb, var(--c-black) 5%, transparent);
        z-index: -1;
        border-radius: 4px;
        opacity: 0;
        transition: opacity .25s;
        display: none;

        @include breakpoint(xs) {
            display: block;
        }
    }

    &:hover::before {
        @scope (.nav__list--socials) {
            opacity: 1;
        }
    }

    @media screen and (min-height: 870px) and (min-width: 768px) {
        padding: 25px 0;
    }
}

@mixin nav-label-container {
    overflow: hidden;
}

@mixin nav-label {
    position: relative;
    font-size: 18px;
    transition: translate .25s;

    @include breakpoint(xs) {
        translate: -100% 0;
        font-weight: bold;
        font-size: 16px;
    }

    @scope (.nav__link--active) {
        font-weight: bold;
    }

    @scope (.nav__link:hover) {
        @include breakpoint(xs) {
            translate: -200% 0;
        }
    }

    &::before,
    &::after {
        content: attr(data-text);
        font-weight: 300;
        position: absolute;
        inset: 0 100%;
        width: 100%;
        height: 100%;
        text-align: center;
        display: none;

        @include breakpoint(xs) {
            display: block;
        }

        @scope (.nav__link--active) {
            font-weight: bold;
        }
    }

    &::after {
        inset: 0 0 0 200%;
    }
}

@mixin nav-icon {
    width: 24px;
}

@mixin nav-tooltip {
    margin-left: 8px;
    display: none;

    @include breakpoint(xs) {
        display: block;
    }

    @scope (.nav__list--socials) {
        display: block;
    }
}

@mixin nav {
    .nav {
        @include nav-root;

        &__toggle {
            @include nav-toggle;
        }

        &__toggle-icon {
            @include nav-toggle-icon;
        }

        &__logo {
            @include nav-logo;
        }

        &__lists {
            @include nav-lists;
        }

        &__container {
            @include nav-container;
        }

        &__list {
            @include nav-list;
        }

        &__item {
            @include nav-item;
        }

        &__link {
            @include nav-link;
        }

        &__label-container {
            @include nav-label-container;
        }

        &__label {
            @include nav-label;
        }

        &__icon {
            @include nav-icon;
        }

        &__tooltip {
            @include nav-tooltip;
        }
    }
}

@include nav;
