@mixin not-found-root {
    @include container;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100svh;
    gap: 25px;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(xs) {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include breakpoint(sm) {
        display: flex;
    }

    @include breakpoint(md) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@mixin not-found-title {
    @include h1;

    border-width: 0;
    padding-bottom: 0;

    @include breakpoint(xs) {
        padding-bottom: 0;
    }
}

@mixin not-found-subtitle {
    @include h2;

    white-space: pre-line;
    border-width: 0;
    text-wrap: balance;
    padding-bottom: 0;

    @include breakpoint(xs) {
        padding-bottom: 0;
    }
}

@mixin not-found-button {
    background-color: $color-main;
    padding: 16px 32px;
    color: $color-white;
    transition: box-shadow .25s, background-color .25s;
    border-radius: 4px;
    font-weight: 700;

    &:hover {
        box-shadow: 0 20px 48px 0 rgba($color-black, .1);
        background-color: $color-main-light;
    }
}

@mixin not-found {
    .not-found {
        @include not-found-root;

        &__title {
            @include not-found-title;
        }

        &__subtitle {
            @include not-found-subtitle;
        }

        &__button {
            @include not-found-button;
        }
    }
}

@include not-found;
