@use 'sass:map';

@mixin projects-root {
    position: relative;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    padding: 200px 50px 50px;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

@mixin projects-title {
    @include title;

    color: var(--c-black);
    padding-bottom: 100px;
}

@mixin projects-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: map.get($breakpoints, uw);

    @include breakpoint(sm) {
        gap: 100px;
    }
}

@mixin projects-letter {
    transform: translateX(-100px);
    display: inline-block;
}

@mixin projects {
    .projects {
        @include projects-root;

        &__title {
            @include projects-title;
        }

        &__list {
            @include projects-list;
        }

        &__letter {
            @include projects-letter;
        }
    }
}

@include projects;
