@use 'sass:map';

@mixin projects-root {
    @include container;
}

@mixin projects-header {
    @include header;
}

@mixin projects-title {
    @include h1;

    grid-column: 1;
}

@mixin projects-text {
    @include lead;

    padding: 25px 0;
}

@mixin projects-customize {
    @include line(above);

    padding-top: 0;
    border-width: 0;

    @include breakpoint(sm) {
        border-top-width: 1px;
    }

    @scope (.projects--private) {
        display: none;

        @include breakpoint(sm) {
            display: block;
        }
    }
}

@mixin projects-list {
    @include title-offset;

    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: map.get($breakpoints, uw);
    gap: 75px;
    grid-area: auto / span 2;
    padding-bottom: 50px;

    @include breakpoint(md) {
        gap: 100px;
    }

    @include breakpoint(lg) {
        grid-area: auto / span 3;
    }

    @scope (.projects--private) {
        @include breakpoint(sm) {
            padding-top: 192px;
        }

        @include breakpoint(lg) {
            padding-top: 219px;
        }
    }
}

@mixin projects {
    .projects {
        @include projects-root;

        &__header {
            @include projects-header;
        }

        &__title {
            @include projects-title;
        }

        &__text {
            @include projects-text;
        }

        &__customize {
            @include projects-customize;
        }

        &__list {
            @include projects-list;
        }
    }
}

@include projects;
