@mixin project-root {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include breakpoint(lg) {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@mixin project-images {
    display: none;
}

@mixin project-header {
    grid-area: auto / span 2;
}

@mixin project-title {
    @include h2(above);

    padding-bottom: 25px;

    p {
        margin: 0;
    }

    @at-root .project:first-child & {
        padding-top: 75px;

        @include breakpoint(sm) {
            padding-top: 25px;
        }
    }
}

@mixin project-content {
    grid-area: auto / span 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    @include breakpoint(lg) {
        @include line(above);
    }
}

@mixin project-description {
    @include wysiwyg;
    @include lead;

    color: var(--c-gray-darkest);
    position: relative;
    z-index: 1;
    hyphens: auto;
    padding-bottom: 50px;

    a {
        color: var(--c-project);

        @at-root .html--dark & {
            color: var(--c-project-lighter);
        }
    }
}

@mixin project-subtitle {
    font-size: 16px;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding-bottom: 12.5px;
    color: var(--c-gray);
}

@mixin project-contributions {
    @include wysiwyg;
    @include lead;

    color: var(--c-gray-darkest);
}

@mixin project-technologies {
    display: flex;
    gap: 5px;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    max-width: 620px;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

@mixin project-technology {
    font-size: 14px;
    padding: 4px 12px;
    border: 1px solid var(--c-project);
    background-color: color-mix(in srgb, var(--c-project) 12.5%, transparent);
    color: var(--c-project);
    cursor: help;

    @at-root .html--dark & {
        color: var(--c-project-lighter);
        border-color: var(--c-project-lighter);
    }

    @include breakpoint(lg) {
        font-size: 16px;
        padding: 6.25px 12.5px;
    }

    &--secondary {
        border-style: dashed;
    }
}

@mixin project-tooltip {
    margin-top: -10px;
}

@mixin project {
    .project {
        @include project-root;

        &__images {
            @include project-images;
        }

        &__header {
            @include project-header;
        }

        &__title {
            @include project-title;
        }

        &__content {
            @include project-content;
        }

        &__description {
            @include project-description;
        }

        &__subtitle {
            @include project-subtitle;
        }

        &__contributions {
            @include project-contributions;
        }

        &__technologies {
            @include project-technologies;
        }

        &__technology {
            @include project-technology;
        }

        &__tooltip {
            @include project-tooltip;
        }
    }
}

@include project;
