@mixin skills-root {
    @include container;
}

@mixin skills-header {
    @include header;
}

@mixin skills-title {
    @include h1;
}

@mixin skills-categories {
    @include title-offset;

    grid-area: auto / span 2;

    @include breakpoint(lg) {
        grid-area: auto / span 3;
    }
}

@mixin skills-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;

    @include breakpoint(lg) {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@mixin skills-category-title {
    @include h2(above);

    width: 100%;
    padding-bottom: 25px;

    @include breakpoint(xs) {
        padding-bottom: var(--spacing);
    }

    @include breakpoint(lg) {
        padding-bottom: 0;
    }

    @include breakpoint(xl) {
        grid-area: auto / span 2;
    }

    @scope (.skills__category:first-child) {
        border-width: 0;
        padding-top: 75px;

        @include breakpoint(sm) {
            padding-top: 25px;
            border-top-width: 1px;
        }
    }
}

@mixin skills-skills {
    grid-area: auto / span 2;
    width: 100%;

    @include breakpoint(lg) {
        @include line(above);
    }

    @include breakpoint(xl) {
        grid-area: auto / span 1;
    }
}

@mixin skills-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &:has(.skills__children) {
        padding-top: 25px;
    }

    &:first-child {
        padding-top: 0;
    }
}

@mixin skills-children {
    width: 100%;
    padding-left: 50px;
    padding-bottom: 25px;

    @scope (.skills__skill:has(+ .skills__skill .skills__children)) {
        padding-bottom: 0;
    }
}

@mixin skills-label {
    color: var(--c-gray-darkest);
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    position: relative;
    margin-left: 0;
    border-top-width: 0;
    padding-top: 0;
    width: 50%;

    @include breakpoint(xs) {
        font-size: 20px;
    }

    @include breakpoint(lg) {
        font-size: 25px;
        line-height: 40px;
    }
}

@mixin skills-hint {
    font-size: 14px;
    color: color-mix(in srgb, var(--c-black) 50%, transparent);
    font-style: italic;
    font-weight: 300;
    display: block;

    @include breakpoint(xs) {
        font-size: 16px;
    }
}

@mixin skills {
    .skills {
        @include skills-root;

        &__header {
            @include skills-header;
        }

        &__title {
            @include skills-title;
        }

        &__categories {
            @include skills-categories;
        }

        &__category {
            @include skills-category;
        }

        &__category-title {
            @include skills-category-title;
        }

        &__skills {
            @include skills-skills;
        }

        &__skill {
            @include skills-skill;
        }

        &__children {
            @include skills-children;
        }

        &__label {
            @include skills-label;
        }

        &__hint {
            @include skills-hint;
        }
    }
}

@include skills;
