@mixin skills-root {
    z-index: 2;
    position: relative;
}

@mixin skills-container {
    background-color: $color-almost-black;
}

@mixin skills-deco-lines {
    position: absolute;
    width: 100%;
    height: 100%;
}

@mixin skills-deco-line {
    width: 1px;
    position: absolute;
    height: 100%;
    background-color: $color-black;

    &:nth-of-type(1) {
        left: 50px;
    }

    &:nth-of-type(2) {
        left: calc(33.33% + 16.66px);

        @media screen and (min-width: 1200px) {
            left: calc(25% + 24px);
        }
    }

    &:nth-of-type(3) {
        left: calc(66.66% - 17.66px);

        @media screen and (min-width: 1200px) {
            left: calc(50% - 1px);
        }
    }

    &:nth-of-type(4) {
        display: none;

        @media screen and (min-width: 1200px) {
            display: block;
            left: calc(75% - 26px);
        }
    }

    &:nth-of-type(5) {
        left: calc(100% - 50px);

        @media screen and (min-width: 1200px) {

        }
    }
}

@mixin skills-content {
    padding: 100px 0;

    @media screen and (min-width: 768px) {
        padding: 200px 0;
    }
}

@mixin skills-title {
    font-size: 75px;
    letter-spacing: .05em;
    padding-left: 50px;
    opacity: 0;
    transform: translateX(-25px);
    padding-bottom: 50px;

    @media screen and (min-width: 1600px) {
        font-size: 7.8vw;
        transform: translateX(-50px);
    }

    @media screen and (min-width: $breakpoint-ultrawide) {
        font-size: #{$breakpoint-ultrawide / 100 * 7.8};
    }
}

@mixin skills-skills {
    display: flex;
    width: calc(100vw - 100px);
    max-width: 1845px;
    gap: 40px 0;
    box-sizing: border-box;
    margin: 0 50px;

    @media screen and (min-width: 1024px) {
        margin: 0 50px;
        width: calc(100vw - 100px);
    }

    @media screen and (min-width: 1200px) {
        width: calc(75vw - 75px);
        margin: 0 0 0 calc(25vw + 25px);
    }

    @media screen and (min-width: $breakpoint-ultrawide) {
        margin: 0 0 0 #{$breakpoint-ultrawide * .25 + 25px};
    }
}

@mixin skills-column {
    position: relative;
    width: auto;
}

@mixin skills-skill {
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @at-root .skills__column > & {
        margin-bottom: 50px;
        position: relative;

        @media screen and (min-width: 768px) {
            margin-bottom: 100px;
        }
    }

    @at-root .skills__children & {
        width: 100%;
    }

    @at-root .skills__children .skills__children & {
        margin-bottom: 10px;

        &:last-of-type {
            padding-bottom: 0;
        }
    }
}

@mixin skills-children {
    padding-top: 20px;

    &:empty {
        display: none;
    }
}

@mixin skills-label-container {
    font-size: 32px;
    letter-spacing: .05em;
    flex-grow: 1;
    font-weight: bold;
    padding-bottom: 10px;
    box-sizing: border-box;

    @at-root .skills__children & {
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        padding-bottom: 0;
        position: relative;

        @media screen and (min-width: 1024px) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    @at-root .skills__children .skills__children & {
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;

        @media screen and (min-width: 1024px) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

@mixin skills-line {
    position: absolute;
    transform-origin: top left;
    opacity: .5;
    width: 1px;
    background-color: $color-red;
    height: calc(100% - 50px);
    left: 0;
    bottom: 1000px;
    top: 20px;
    transform: scaleY(0);

    @at-root .skills__children & {
        display: block;
        left: -40px;
        width: 30px;
        height: 2px;
        top: 0.5em;
        transform: translate(0, -50%) scaleX(0);
        background-color: $color-red;
    }

    @at-root .skills__children .skills__children & {
        left: -65px;
        width: 55px;
        height: 1px;
    }
}

@mixin skills-dot {
    position: absolute;
    left: 1px;
    width: 20px;
    height: 20px;
    background-color: $color-red;
    border-radius: 50%;
    top: .5em;
    border: 4px solid $color-almost-black;

    transform: translate(-50%, -50%) scale(0);

    @at-root .skills__children & {
        left: -50px;
        width: 10px;
        height: 10px;
    }

    @at-root .skills__children .skills__children & {
        left: -75px;
    }
}

@mixin skills-label {
    display: block;
    opacity: 0;
    transform: translateX(-10px);
}

@mixin skills-hint {
    font-size: 14px;
    color: rgba($color-white, .5);
    font-style: italic;
    font-weight: normal;
    display: block;
    opacity: 0;
    transform: translateX(-7.5px);
}

@mixin skills {
    .skills {
        @include skills-root;

        &__container {
            @include skills-container;
        }

        &__deco-lines {
            @include skills-deco-lines;
        }

        &__deco-line {
            @include skills-deco-line;
        }

        &__content {
            @include skills-content;
        }

        &__title {
            @include skills-title;
        }

        &__skills {
            @include skills-skills;
        }

        &__column {
            @include skills-column;
        }

        &__skill {
            @include skills-skill;
        }

        &__children {
            @include skills-children;
        }

        &__label-container {
            @include skills-label-container;
        }

        &__dot {
            @include skills-dot;
        }

        &__line {
            @include skills-line;
        }

        &__label {
            @include skills-label;
        }

        &__hint {
            @include skills-hint;
        }
    }
}

@include skills;
