@mixin socials-root {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;
    background-color: $color-black;
    mix-blend-mode: exclusion;
}

@mixin socials-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@mixin socials-link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--github {

    }

    &--email:before {
        font-size: 32px;
        font-weight: bold;
        content: '@';
        color: $color-white;
    }

    &--linkedin {

    }

    &--cv:before {
        font-size: 32px;
        font-weight: bold;
        content: 'CV';
        color: $color-white;
    }
}

@mixin socials {
    .socials {
        @include socials-root;

        &__list {
            @include socials-list;
        }

        &__link {
            @include socials-link;
        }
    }
}

@include socials;
