@use 'sass:map';

@mixin teaser-root {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    padding-top: 50px;
    overflow: hidden;

    &--dev {
        &::after {
            content: '';
            position: absolute;
            border-left: 1px solid var(--c-gray-darkest);
            height: 0;
            top: 0;
            transition: height .4s;
            width: 1px;
            left: 0;
        }

        &:hover::after {
            @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
                height: calc(100% - 50px);
                transition-delay: .2s;
            }
        }
    }

    &::before {
        @include line(above);

        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        transition: width .5s $transition;
    }

    &:hover::before {
        @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
            width: calc(100% - 100px);
        }
    }

    @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
        flex-direction: row;
    }

    @scope (.drawer) {
        container: meta-container / inline-size;
    }
}

@mixin teaser-content {
    z-index: 2;
    box-sizing: border-box;
    transition: translate .75s $transition;
    width: calc(100% - 100px);

    @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
        margin-top: 0;
        left: 0;
        bottom: 0;
    }

    @scope (.teaser--dev) {
        width: 100%;
        max-width: 600px;

        @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
            max-width: none;
            width: calc(100% - 50px);
        }

        @container teaser-container (min-width: #{map.get($breakpoints, lg)}) {
            width: calc(100% - 150px);
        }
    }

    @scope (.drawer) {
        padding-bottom: 25px;
    }

    @scope (.teaser:has(.teaser__image)) {
        padding-top: 25px;
        width: 100%;

        @container teaser-container (min-width: #{map.get($breakpoints, md)}) {
            max-width: 850px;
        }
    }

    @scope (.teaser--dev:hover) {
        @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
            translate: 50px;
        }
    }
}

@mixin teaser-tags {
    display: flex;
    gap: 6.25px 12.5px;
    justify-content: flex-start;
    margin-bottom: 12.5px;
    flex-wrap: wrap;
}

@mixin teaser-tag {
    color: var(--c-main);
}

@mixin teaser-title {
    @include line;

    border-bottom-width: 0;
    hyphens: auto;
    text-wrap: balance;
    color: var(--c-black);
    padding-bottom: 15px;
    transition: translate .5s $transition;
    position: relative;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;

    @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
        padding-bottom: 25px;
        font-size: 32px;
    }

    @container teaser-container (min-width: #{map.get($breakpoints, md)}) {
        font-size: 48px;
    }
}

@mixin teaser-text {
    @include lead;

    color: var(--c-black);
    padding-bottom: 25px;
    hyphens: auto;

    &:empty {
        display: none;
    }
}

@mixin teaser-image-container {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        border-left: 1px solid var(--c-gray-darkest);
        height: 0;
        top: -50px;
        transition: height .4s;
        width: 1px;
        left: 0;

        @scope (.teaser:hover) {
            @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
                height: calc(100% + 50px);
                transition-delay: .2s;
            }
        }
    }
}

@mixin teaser-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    transition: translate .5s $transition;

    @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
        width: calc(100% - 75px);
        margin-left: 0;
    }

    @scope (.teaser:hover) {
        @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
            translate: 50px;
        }
    }
}

@mixin teaser-meta {
    display: flex;
    gap: 8px;
    color: var(--c-gray-darkest);
    width: 180px;
    box-sizing: border-box;

    @container teaser-container (min-width: #{map.get($breakpoints, xs)}) {
        gap: 16px;
    }
}

@mixin teaser {
    .teaser {
        @include teaser-root;

        &__content {
            @include teaser-content;
        }

        &__tags {
            @include teaser-tags;
        }

        &__tag {
            @include teaser-tag;
        }

        &__title {
            @include teaser-title;
        }

        &__text {
            @include teaser-text;
        }

        &__image-container {
            @include teaser-image-container;
        }

        &__image {
            @include teaser-image;
        }

        &__meta {
            @include teaser-meta;
        }
    }
}

@include teaser;
