@mixin tooltip-root {
    @media screen and (pointer: coarse) {
        display: none;
    }
}

@mixin tooltip-content {
    color: var(--c-white);
    background-color: var(--c-gray-darkest);
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-wrap: nowrap;
    transition: opacity .25s;
    position: relative;

    @scope (.hover-link) {
        padding: 0;
    }
}

@mixin tooltip-arrow {
    fill: var(--c-black);

    @scope (.tooltip--top) {
        translate: 0 -1px;
    }

    @scope (.tooltip--bottom) {
        translate: 0 1px;
    }

    @scope (.tooltip--left) {
        translate: -1px 0;
    }

    @scope (.tooltip--right) {
        translate: 1px 0;
    }
}

@mixin tooltip {
    .tooltip {
        @include tooltip-root;

        &__content {
            @include tooltip-content;
        }

        &__arrow {
            @include tooltip-arrow;
        }
    }
}

@include tooltip;
