@mixin top-nav-root {
    height: $top-nav-height;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 5;
    pointer-events: none;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;

    @include breakpoint(xs) {
        padding-top: 20px;
    }

    @include breakpoint(sm) {
        padding-top: 25px;
        width: 100%;
        position: static;
        padding-right: 10px;
    }

    &:has(.top-nav__title) {
        position: relative;
        justify-content: space-between;

        @include breakpoint(xs) {
            background-color: var(--c-gray-lightest);
            border-left: 1px solid color-mix(in srgb, $color-gray 25%, transparent);
        }
    }

    @scope (.article__customize, .home) {
        padding-top: 25px;
        width: 100%;
        position: static;
    }
}

@mixin top-nav-title {
    padding-left: 20px;
    font-weight: normal;
    color: $color-gray;
    font-size: 24px;
    display: none;
    pointer-events: all;
    white-space: nowrap;

    @include breakpoint(xs) {
        display: block;
    }

    &::before {
        content: '/ ';
    }
}

@mixin top-nav-nav {
    display: flex;
    gap: 16px;
}

@mixin top-nav-section {
    display: flex;
    pointer-events: all;
    gap: 16px;
}

@mixin top-nav-item {
    display: flex;
}

@mixin top-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: #{$top-nav-height - 10};
    width: 40px;
    position: relative;
    transition: color .25s;
    cursor: pointer;
    color: var(--c-gray-darkest);
    z-index: 1;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: color-mix(in srgb, var(--c-black) 5%, transparent);
        z-index: -1;
        border-radius: 4px;
        opacity: 0;
        transition: opacity .25s;
    }

    &:hover {
        color: var(--c-black);

        &::before {
            opacity: 1;
        }
    }
}

@mixin top-nav-icon-container {
    overflow: hidden;
    width: 24px;
    aspect-ratio: 1;
    position: relative;
}

@mixin top-nav-icon {
    width: 24px;
    transition: scale .25s, translate .25s;
    flex-shrink: 0;

    @scope (.top-nav__button:hover) {
        scale: 1.1;
    }

    @scope (.top-nav__button--back:hover) {
        scale: 1;
        translate: -100%;
    }

    &--hover {
        position: absolute;
        left: 0;
        translate: 100%;

        @scope (.top-nav__button--back:hover) {
            translate: 0;
        }
    }
}

@mixin top-nav-tooltip {
    margin-top: 10px;
}

@mixin top-nav {
    .top-nav {
        @include top-nav-root;

        &__title {
            @include top-nav-title;
        }

        &__nav {
            @include top-nav-nav;
        }

        &__section {
            @include top-nav-section;
        }

        &__item {
            @include top-nav-item;
        }

        &__button {
            @include top-nav-button;
        }

        &__icon-container {
            @include top-nav-icon-container;
        }

        &__icon {
            @include top-nav-icon;
        }

        &__tooltip {
            @include top-nav-tooltip;
        }
    }
}

@include top-nav;
