@include face('JetBrains Mono', $styles: 400);
@include face('Helvetica', $styles: 300 300i 400 400i 700 700i);

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url('../fonts/Mulish.woff2');
}
