@include face('JetBrains Mono', $styles: 400);


@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url('../fonts/Mulish.woff2');
}
