@use 'sass:map';
@use 'vars' as *;

@mixin breakpoint($size) {
    @media screen and (min-width: map.get($breakpoints, $size)) {
        @content;
    }
}

@mixin title {
    font-size: 75px;
    font-family: 'Heebo', sans-serif;


    @include breakpoint(lg) {
        font-size: 125px;
    }
}

@mixin subtitle {
    font-family: 'Heebo', sans-serif;
    font-size: 32px;
    letter-spacing: .05em;

    @include breakpoint(lg) {
        font-size: 48px;
    }
}
