@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'sass:meta';
@use 'sass:math';

@use 'vars' as *;

@mixin breakpoint($size) {
    @media screen and (min-width: map.get($breakpoints, $size)) {
        @content;
    }
}

@mixin h1 {
    @include line;

    font-size: 40px;
    line-height: 1.25;
    font-weight: 300;
    width: 100%;
    padding-bottom: 25px;

    @include breakpoint(xs) {
        font-size: 62px;
        line-height: 71px;
        padding-bottom: var(--spacing);
    }

    @include breakpoint(lg) {
        font-size: 73px;
        line-height: 84px;
    }
}

@mixin h2($line-position: below) {
    @include line($line-position);

    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;

    @include breakpoint(xs) {
        font-size: 32px;
    }

    @include breakpoint(md) {
        font-size: 48px;
    }
}

@mixin h3 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 300;

    @include breakpoint(xs) {
        font-size: 25px;
    }

    @include breakpoint(md) {
        font-size: 30px;
    }
}

@mixin h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;

    @include breakpoint(md) {
        font-size: 20px;
    }
}

@mixin tagline {
    font-size: 14px;
    line-height: 18px;

    font-weight: 200;
    letter-spacing: .1em;
    opacity: .8;
    text-transform: uppercase;
    color: var(--c-black);
    padding-bottom: 10px;

    @at-root .drawer__footer & {
        padding-bottom: 0;
    }

    @at-root .infobox__fact & {
        padding-bottom: 0;
    }
}

@mixin lead {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;

    @include breakpoint(lg) {
        font-size: 25px;
        line-height: 35px;
    }
}

@mixin text {
    color: var(--c-gray-darkest);
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;

    @include breakpoint(md) {
        font-size: 18px;
        line-height: 30px;
    }
}

@mixin text-small {
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 300;
}

@mixin line($position: below) {
    @if $position == below {
        padding-bottom: 25px;
        border-bottom: 1px solid var(--c-gray-darkest);
    }
    @else {
        padding-top: 25px;
        border-top: 1px solid var(--c-gray-darkest);
    }
}

@mixin container {
    position: relative;
    padding: 50px var(--spacing);
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: flex-start;
    max-width: calc(100vw - var(--spacing) * 2);

    @include breakpoint(xs) {
        padding: var(--spacing) var(--spacing) calc(var(--spacing) / 2) var(--spacing);
        max-width: calc(100vw - #{$nav-width} - var(--spacing) * 2);
        min-height: 100vh;
    }

    @include breakpoint(sm) {
        display: grid;
        grid-gap: var(--spacing);
    }

    @include breakpoint(lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include breakpoint(xl) {
        max-width: 1725px;
    }
}

@mixin wysiwyg {
    *:not(.shiki):not(:has(.shiki)) > code {
        white-space: nowrap;
        padding: 3px 5px;
        background-color: $color-white;
        border-radius: 4px;
        color: #D73A49;
        font-family: 'JetBrains Mono', monospace;
        font-size: 14px;

        @include breakpoint(md) {
            font-size: 16px;
        }

        @at-root .html--dark & {
            background-color: #24292E;
            color: var(--c-main-light);
        }
    }

    a {
        color: var(--c-main-dark);

        @at-root .html--dark & {
            color: var(--c-main);
        }
    }

    ol,
    ul,
    pre {
        margin: 0 0 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul li {
        position: relative;
        padding-left: 30px;

        &:before {
            content: '';
            position: absolute;
            top: 14.5px;
            height: 1px;
            width: 20px;
            background-color: var(--c-gray);
            left: 0;
        }
    }

    ol li {
        padding-left: 10px;
    }

    table {
        border-collapse: collapse;
        margin-bottom: 1em;
    }

    tr {
        transition: background-color .25s;
    }

    tr:hover {
        background-color: var(--c-gray-lightest);
    }

    tr:has(th),
    tr:has(th):hover {
        background-color: var(--c-gray-light);
    }

    th,
    td {
        padding: 4px 8px;
        text-align: left;
        border: 1px solid var(--c-gray-light);
    }
}

@mixin code {
    code {
        font-family: 'JetBrains Mono', monospace;
        white-space: pre-wrap;
    }

    pre {
        tab-size: 4;
        font-size: 16px;
        line-height: 20px;
        padding: 20px;
        border-radius: 8px;

        @include breakpoint(md) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@function to-number($value) {
    $result: 0;
    $digits: 0;
    $minus: string.slice($value, 1, 1) == '-';
    $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);
    $from: 1;

    @if $minus {
        $from: 2;
    }

    @if meta.type-of($value) == 'number' {
        @return $value;
    } @else if meta.type-of($value) != 'string' {
        @error 'Value for `to-number` should be a number or a string.';
    }

    @for $i from $from through string.length($value) {
        $character: string.slice($value, $i, $i);

        @if list.index(map.keys($numbers), $character) or $character == '.' {
            @if $character == '.' {
                $digits: 1;
            } @else if $digits == 0 {
                $result: $result * 10 + map.get($numbers, $character);
            } @else {
                $digits: $digits * 10;
                $result: $result + map.get($numbers, $character) / $digits;
            }
        }
    }

    @if $minus {
        @return -$result;
    }

    @return $result;
}

@mixin face($name, $filetypes: woff2, $styles: 400 400i 700 700i) {
    $font-path: '../fonts/';

    @each $style in $styles {
        @font-face {
            $srcs: [];

            font-family: $name;

            @if list.index($filetypes, eot) {
                src: url('#{$font-path}#{$name}-#{$style}.eot');
            }

            @each $filetype in $filetypes {
                @if $filetype == eot {
                    $srcs: list.join($srcs, url('#{$font-path}#{$name}-#{$style}.#{$filetype}?#iefix') + ' ' + format('embedded-opentype'), $separator: comma, $bracketed: false);
                } @else {
                    $srcs: list.join($srcs, url('#{$font-path}#{$name}-#{$style}.#{$filetype}') + ' ' + format('#{$filetype}'), $separator: comma, $bracketed: false);
                }
            }

            src: $srcs;

            @if string.index('' + $style, i) {
                font-style: italic;
                font-weight: to-number(string.slice('' + $style, 1, 3));
            } @else {
                font-weight: $style;
            }
        }
    }
}

@mixin title-offset {
    @include breakpoint(sm) {
        padding-top: 97px;
    }

    @include breakpoint(md) {
        padding-top: 121px;
    }

    @include breakpoint(lg) {
        padding-top: 134px;
    }
}

@mixin header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(sm) {
        position: sticky;
        top: var(--spacing);
    }
}
