$transition: cubic-bezier(.65, 0, .35, 1);

$color-white: #FFFFFF;
$color-gray-lightest: #FAFAFA;
$color-gray-lighter: #F0F0F0;
$color-gray-light: #D2D2D2;
$color-gray: #9A9A9A;
$color-gray-dark: #2D2D2D;
$color-gray-darker: #1F1F1F;
$color-gray-darkest: #111111;
$color-black: #000000;

$color-main: #0099FF;
$color-main-dark: #006699;
$color-main-darker: #001122;
$color-main-light: #66BBFF;

$breakpoints: (
    xs: 768px,
    sm: 1024px,
    md: 1200px,
    lg: 1680px,
    xl: 1905px,
    uw: 2560px
);

$nav-width: 80px;
$top-nav-height: 50px;

$transition: cubic-bezier(.7, 0, .2, 1);
